@layer base {
	@keyframes underline-animation {
		0%,
		20%,
		60%,
		100% {
			text-decoration-line: underline;
		}

		30%,
		70% {
			text-decoration-line: none;
		}
	}

	.underline-hover:hover {
		text-decoration-line: underline;
		animation: underline-animation 0.2s linear;
	}
}
